@charset "UTF-8";
/* --------------------------------
Fonts Rule
-------------------------------- */

@font-face {
    font-family: 'Cafe24';
    src: local('※'), url('./fonts/Cafe24Oneprettynight.ttf') format('truetype');
}
@font-face {
    font-family: 'nsL';
    src: local('※'), url('../fonts/NanumSquareL.woff2') format('woff2'), url('../fonts/NanumSquareL.woff') format('woff'), url('../fonts/NanumSquareL.ttf') format('truetype'), url('../fonts/NanumSquareL.otf') format('opentype'), url('../fonts/NanumSquareL.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nsR';
    src: local('※'), url('../fonts/NanumSquareR.woff2') format('woff2'), url('../fonts/NanumSquareR.woff') format('woff'), url('../fonts/NanumSquareR.ttf') format('truetype'), url('../fonts/NanumSquareR.otf') format('opentype'), url('../fonts/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nsB';
    src: local('※'), url('../fonts/NanumSquareB.woff2') format('woff2'), url('../fonts/NanumSquareB.woff') format('woff'), url('../fonts/NanumSquareB.ttf') format('truetype'), url('../fonts/NanumSquareB.otf') format('opentype'), url('../fonts/NanumSquareB.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nsEB';
    src: local('※'), url('../fonts/NanumSquareEB.woff2') format('woff2'), url('../fonts/NanumSquareEB.woff') format('woff'), url('../fonts/NanumSquareEB.ttf') format('truetype'), url('../fonts/NanumSquareEB.otf') format('opentype'), url('../fonts/NanumSquareEB.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nsrL';
    src: local('※'), url('../fonts/NanumSquareRoundL.woff2') format('woff2'), url('../fonts/NanumSquareRoundL.woff') format('woff'), url('../fonts/NanumSquareRoundL.ttf') format('truetype'), url('../fonts/NanumSquareRoundL.otf') format('opentype'), url('../fonts/NanumSquareRoundL.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nsrR';
    src: local('※'), url('../fonts/NanumSquareRoundR.woff2') format('woff2'), url('../fonts/NanumSquareRoundR.woff') format('woff'), url('../fonts/NanumSquareRoundR.ttf') format('truetype'), url('../fonts/NanumSquareRoundR.otf') format('opentype'), url('../fonts/NanumSquareRoundR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nsrB';
    src: local('※'), url('../fonts/NanumSquareRoundB.woff2') format('woff2'), url('../fonts/NanumSquareRoundB.woff') format('woff'), url('../fonts/NanumSquareRoundB.ttf') format('truetype'), url('../fonts/NanumSquareRoundB.otf') format('opentype'), url('../fonts/NanumSquareRoundB.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nsrEB';
    src: local('※'), url('../fonts/NanumSquareRoundEB.woff2') format('woff2'), url('../fonts/NanumSquareRoundEB.woff') format('woff'), url('../fonts/NanumSquareRoundEB.ttf') format('truetype'), url('../fonts/NanumSquareRoundEB.otf') format('opentype'), url('../fonts/NanumSquareRoundEB.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nbg';
    src: local('※'), url('../fonts/NanumBarunGothic.woff2') format('woff2'), url('../fonts/NanumBarunGothic.woff') format('woff'), url('../fonts/NanumBarunGothic.ttf') format('truetype'), url('../fonts/NanumBarunGothic.otf') format('opentype'), url('../fonts/NanumBarunGothic.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nbg';
    src: local('※'), url('../fonts/NanumBarunGothic.woff2') format('woff2'), url('../fonts/NanumBarunGothic.woff') format('woff'), url('../fonts/NanumBarunGothic.ttf') format('truetype'), url('../fonts/NanumBarunGothic.otf') format('opentype'), url('../fonts/NanumBarunGothic.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nbgUL';
    src: local('※'), url('../fonts/NanumBarunGothicUltraLight.woff2') format('woff2'), url('../fonts/NanumBarunGothicUltraLight.woff') format('woff'), url('../fonts/NanumBarunGothicUltraLight.ttf') format('truetype'), url('../fonts/NanumBarunGothicUltraLight.otf') format('opentype'), url('../fonts/NanumBarunGothicUltraLight.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nbgL';
    src: local('※'), url('../fonts/NanumBarunGothicLight.woff2') format('woff2'), url('../fonts/NanumBarunGothicLight.woff') format('woff'), url('../fonts/NanumBarunGothicLight.ttf') format('truetype'), url('../fonts/NanumBarunGothicLight.otf') format('opentype'), url('../fonts/NanumBarunGothicLight.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nbgB';
    src: local('※'), url('../fonts/NanumBarunGothicBold.woff2') format('woff2'), url('../fonts/NanumBarunGothicBold.woff') format('woff'), url('../fonts/NanumBarunGothicBold.ttf') format('truetype'), url('../fonts/NanumBarunGothicBold.otf') format('opentype'), url('../fonts/NanumBarunGothicBold.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nbpB';
    src: local('※'), url('../fonts/NanumBarunpenB.woff2') format('woff2'), url('../fonts/NanumBarunpenB.woff') format('woff'), url('../fonts/NanumBarunpenB.ttf') format('truetype'), url('../fonts/NanumBarunpenB.otf') format('opentype'), url('../fonts/NanumBarunpenB.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nbpR';
    src: local('※'), url('../fonts/NanumBarunpenR.woff2') format('woff2'), url('../fonts/NanumBarunpenR.woff') format('woff'), url('../fonts/NanumBarunpenR.ttf') format('truetype'), url('../fonts/NanumBarunpenR.otf') format('opentype'), url('../fonts/NanumBarunpenR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'nb';
    src: local('※'), url('../fonts/NanumBrush.woff2') format('woff2'), url('../fonts/NanumBrush.woff') format('woff'), url('../fonts/NanumBrush.ttf') format('truetype'), url('../fonts/NanumBrush.otf') format('opentype'), url('../fonts/NanumBrush.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'ntBK';
    src: local('※'), url('../fonts/NotoSans-Black.woff2') format('woff2'), url('../fonts/NotoSans-Black.woff') format('woff'), url('../fonts/NotoSans-Black.ttf') format('truetype'), url('../fonts/NotoSans-Black.otf') format('opentype'), url('../fonts/NotoSans-Black.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'ntB';
    src: local('※'), url('../fonts/NotoSans-Bold.woff2') format('woff2'), url('../fonts/NotoSans-Bold.woff') format('woff'), url('../fonts/NotoSans-Bold.ttf') format('truetype'), url('../fonts/NotoSans-Bold.otf') format('opentype'), url('../fonts/NotoSans-Bold.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'ntDL';
    src: local('※'), url('../fonts/NotoSans-DemiLight.woff2') format('woff2'), url('../fonts/NotoSans-DemiLight.woff') format('woff'), url('../fonts/NotoSans-DemiLight.ttf') format('truetype'), url('../fonts/NotoSans-DemiLight.otf') format('opentype'), url('../fonts/NotoSans-DemiLight.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'ntL';
    src: local('※'), url('../fonts/NotoSans-Light.woff2') format('woff2'), url('../fonts/NotoSans-Light.woff') format('woff'), url('../fonts/NotoSans-Light.ttf') format('truetype'), url('../fonts/NotoSans-Light.otf') format('opentype'), url('../fonts/NotoSans-Light.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'ntM';
    src: local('※'), url('../fonts/NotoSans-Medium.woff2') format('woff2'), url('../fonts/NotoSans-Medium.woff') format('woff'), url('../fonts/NotoSans-Medium.ttf') format('truetype'), url('../fonts/NotoSans-Medium.otf') format('opentype'), url('../fonts/NotoSans-Medium.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'spqhs';
    font-weight:200;	
    src: local('※'), url('../fonts/SpoqaHanSansThin.woff2') format('woff2'), url('../fonts/SpoqaHanSansThin.woff') format('woff'), url('../fonts/SpoqaHanSansThin.ttf') format('truetype'), url('../fonts/SpoqaHanSansThin.otf') format('opentype'), url('../fonts/SpoqaHanSansThin.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'spqhs';
    font-weight:400;	
    src: local('※'), url('../fonts/SpoqaHanSansLight.woff2') format('woff2'), url('../fonts/SpoqaHanSansLight.woff') format('woff'), url('../fonts/SpoqaHanSansLight.ttf') format('truetype'), url('../fonts/SpoqaHanSansLight.otf') format('opentype'), url('../fonts/SpoqaHanSansLight.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'spqhs';
    font-weight:600;	
    src: local('※'), url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'), url('../fonts/SpoqaHanSansRegular.woff') format('woff'), url('../fonts/SpoqaHanSansRegular.ttf') format('truetype'), url('../fonts/SpoqaHanSansRegular.otf') format('opentype'), url('../fonts/SpoqaHanSansRegular.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'spqhs';
    font-weight:800;	
    src: local('※'), url('../fonts/SpoqaHanSansBold.woff2') format('woff2'), url('../fonts/SpoqaHanSansBold.woff') format('woff'), url('../fonts/SpoqaHanSansBold.ttf') format('truetype'), url('../fonts/SpoqaHanSansBold.otf') format('opentype'), url('../fonts/SpoqaHanSansBold.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'times';
    src: local('※'), url('../fonts/times.woff2') format('woff2'), url('../fonts/times.woff') format('woff'), url('../fonts/times.ttf') format('truetype'), url('../fonts/times.otf') format('opentype'), url('../fonts/times.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'timesbd';
    src: local('※'), url('../fonts/timesbd.woff2') format('woff2'), url('../fonts/timesbd.woff') format('woff'), url('../fonts/times.ttf') format('truetype'), url('../fonts/timesbd.otf') format('opentype'), url('../fonts/timesbd.eot') format('embedded-opentype');
}

