* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    font-family: 'HL_Regular';
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
}

.wrapper > * {
    flex: 1 100%;
}

.hd {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 0.3s;
}

.hd.on {
    background-color: rgba(205, 209, 212, 0.6);
}

.logo {
    display: block;
    width: 188px;
    height: 23px;
    float: left;
    overflow: hidden;
    background-image: url(data/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-top: 20px;
    margin-left: 30px;
}

.hd.on .logo {
    background-position: 0px -23px;
}

.menu_icon{width: 40px;height: 40px; margin-left: 10px;margin-top: 10px; display: none;}
.bar_box{ display: block; width: 40px;height: 40px; position: relative;}
.bar{ display: block; width: 30px;height: 2px; background-color: #fff; position: absolute;top: 0;left: 5px;}
.bar1{top: 10px;}
.bar2{top: 20px;}
.bar3{top: 30px;}
.hd.on .bar{background-color: #009fe3;}
.gnb {
    float: right;
    margin-top: 13px;
    width: 800px;
    height: 23px;
}
.on_menu{width: 100%; height: 100vh; background-color: rgba(0,0,0,0.4); padding: 0; position: fixed; z-index: 999; top: 0;left: -2000px; transition: 0.6s;}
.on_menu .menus{width: 70%; height: 100vh; padding: 0;background-color: #fff; }
.on_menu .menus .dp { display: block;
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #009fe3;
    color: #333;
    font-size: 17px;
}
.on_menu .menus .dp0:after, .on_menu .menus .dp1:after, .on_menu .menus .dp2:after, .on_menu .menus .dp3:after, .on_menu .menus .dp4:after{content: ""; display: block; clear: both; margin-left: 30px; position: absolute; top: 5px;right: 20px; width: 30px; height: 30px;transition: 0.5s;}
.on_menu .menus .dp0:after{ background-image: url(data/menuIcon1.png);}
.on_menu .menus .dp1:after{ background-image: url(data/menuIcon2.png);}
.on_menu .menus .dp2:after{ background-image: url(data/menuIcon3.png);}
.on_menu .menus .dp3:after{ background-image: url(data/menuIcon4.png);}
.on_menu .menus .dp4:after{ background-image: url(data/menuIcon5.png);}
.on_sub.on .dp1:after{ background-image: url(data/on_menuIcon2.png);}
.on_sub.on .dp2:after{ background-image: url(data/on_menuIcon3.png);}
.on_sub.on .dp3:after{ background-image: url(data/on_menuIcon4.png);}
.on_menu .on_sub{width: 100%; height: 40px; clear: both; overflow: hidden; transition: 0.5s;}
.on_sub.on{height: auto;}
.on_sub li{width: 100%; height: 40px;
    line-height: 40px; border-bottom: 1px solid #009fe3; box-sizing: border-box; }
.on_sub1 li:nth-child(2){margin-top: 40px;}
.on_sub2 li:nth-child(2){margin-top: 40px;}
.on_sub3 li:nth-child(2){margin-top: 40px;}
.on_sub li a{ display: block; width: 100%; height: 40px; text-align: center; font-size: 13px;
    line-height: 40px;}
.on_menu .close_icon{width: 40px;height: 40px; position: absolute;top: 20px; right: 10px;}
.close_icon .btn_wrap{display: block; width: 40px;height: 40px;position: relative; }
.close_icon .btn_wrap .btn{display: block; width: 30px;height: 3px; background-color: #fff; position: absolute; top: 10px;left: 0;}
.close_icon .btn_wrap .btn1{transform: rotate(45deg);}
.close_icon .btn_wrap .btn2{transform: rotate(-45deg); }

.menu {
    width: 800px;
    height: 23px;
}

.menu li {
    float: left;
    width: 150px;
    margin-right: 10px;
    position: relative;
}

.menu li .dp1 {
    display: block;
    width: 150px;
    line-height: 40px;
    color: #fff;
    font-size: 17px; 
}

.menu li:hover .dp1 {
    text-decoration: underline;
    color: #009fe3;
}

.hd.on .menu li .dp1 {
    color: #333;
}

.menu li .sub {
    position: absolute;
    top: 40px;
    left: 0;
    width: 150px;
    height: 170px;
    border-radius: 0px 20px 0px 20px;
    background-color: #fff;
    opacity: 0;
    transition: 0.5s;
    z-index: 99;
    visibility: hidden;
}

.menu li:hover .sub {
    opacity: 1;
    visibility: visible;
}

.menu li .sub a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    position: relative;
}

.menu li .sub a:before {
    content: "◆";
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 30px;
    display: none;
}

.menu li.item3 .sub a:before {
    left: 10px;
}

.menu li.item4 .sub a:first-child::before {
    left: 20px;
}

.menu li.item4 .sub a:last-child::before {
    left: 10px;
}

.menu li .sub a:hover {
    text-decoration: underline;
    color: #009fe3;
}

.menu li .sub a:hover::before {
    display: block;
}

.vs {
    width: 100%;
    height: 100vh;
    
    overflow: hidden;
    display: flex;
    align-items: center;
    
}
.vs .img{width: 100vw; height: 100%; padding: 0;position: relative;}
.vs .img img{display: block; margin-top: -100px; width: 100vw; max-width: 100%; height: auto; padding: 0;}

.vs .tit_wrap {
    width: 100%;
    height: 200px; position: absolute; top: 40%;left: 0%; z-index: 998;
}

.vs .tit_wrap p {
    color: #fff;
    margin-bottom: 20px;
}

.vs .tit_wrap .smoll {
    width: 100%;
    font-size: 30px;
}

.vs .tit_wrap .big {
    width: 100%;
    font-size: 70px;
}

.vs .more {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}

.vs .more a {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.vs .more a:hover {
    background-color: #fff;
    color: #1b9dd8;
}

.page {
    width: 100%;
    clear: both;
}

.wrap {
    width: 1440px;
    margin: 0 auto;
}

#p1 {
    width: 100vw;
    height: 600px;
    background-image: url(data/p1_bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    background-attachment: fixed;
}

#p1 .wrap {
    width: 100%;
    height: 620px;
    display: flex;
    align-items: center;
}

#p1 .tit_box {
    width: 100%;
    clear: both;
    position: absolute;
    top: 150px;
    left: 0px;
    align-items: center;
}

#p1 .tit1 {
    font-size: 60px;
    width: 100%;
    line-height: 60px;
    font-weight: bold;
}

#p1 .com {
    display: block;
    width: 100%;
    line-height: 30px;
    margin-top: 30px;
}

#p1 .more {
    display: block;
    width: 100%;
    font-size: 25px;
    margin-top: 40px;
    color: #1b9dd8;
}

#p2 {
    width: 100vw;
    height: 800px;
    background-image: url(data/p2_bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 0;
}

#p2 .tit_box {
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

#p2 .tit_box:after {
    content: "";
    display: block;
    clear: both;
}

#p2 .tit_box .tit {
    font-size: 60px;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fff;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
}

#p2 .col_box {
    width: 100%;
    height: 240px;
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap
}

#p2 .col_box .cl {
    float: left;
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #fff;
}
#p2 .col_box .cl a{display: block;  width: 300px;
    height: auto;}
#p2 .col_box .cl a img{display: block;  width: 300px; max-width: 300px;
    height: auto;}

#p3 {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
}

#p3 .tit_box {
    width: 100%;
    margin-top: 20px;
}

#p3 .tit_box .tit {
    font-size: 50px;
    color: #333;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 80px;
}

#p3 .item_box {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#p3 .item {
    width: 460px;
    height: auto;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
}

#p3 .it1 {
    background-image: url(data/p3_it1.jpg);
}

#p3 .it2 {
    background-image: url(data/p3_it2.jpg);
}

#p3 .it3 {
    background-image: url(data/p3_it3.jpg);
}

#p3 .item a {
    display: block;
    width: 460px;
    height: 480px;
}

#p3 .item a .txt_box {
    clear: both;
    width: 70%;
    color: #fff;
    font-size: 13px;
    margin-left: 20px;
}

#p3 .item a .txt_box .tit {
    margin-top: 50px;
    font-size: 25px;
    float: left;
    margin-bottom: 20px;
}

#p3 .item a .txt_box p {
    display: block;
    clear: both;
    line-height: 20px;
    text-align: left;
}

#p3 .item a .txt_box span {
    display: block;
    clear: both;
    line-height: 70px;
    text-align: left;
    position: relative;
}

#p3 .item a .txt_box span:after {
    content: "☞";
    display: block;
    clear: both;
    position: absolute;
    top: 0;
    left: 80px;
}

#p4 {
    width: 100vw;
    height: auto;
    position: relative;
    background-color: gainsboro;
    display: flex;
}

#p4 .tit {
    font-size: 50px;
    color: #333;
    font-weight: bold;
    margin-top: 50px;
    line-height: 80px;
    text-align: center;
}

#p4 .com {
    display: block;
    font-size: 17px;
    line-height: 30px;
}

#p4 .bgi {
    width: 100%;
    height: auto;
}
#p4 .bgi img{display: block; width: 1092px; max-width: 1092px;  margin: 0px auto; height: auto; margin-bottom: 50px;}

#p4 .more {
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #333;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40px;
}

#p4 .more:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#p5 {
    width: 100vw;
    height: auto;
    clear: both;
    display: flex;
}
#p5 .wrap{width: 1440px;
    height: auto;
    clear: both;
    display: flex;
    align-content: space-around;
flex-wrap: wrap;}

#p5 .tit_box{width: 100%; height: 100px; }
#p5 .tit {
    font-size: 50px;
    color: #333;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}

#p5 .more {
    display: block;
    line-height: 20px;
}

#p5 .ptn_box {
    width: 100%;
    height: 210px;
    overflow: hidden;
    margin: 100px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#p5 .ptn {
    width: 200px;
    height: auto;
    float: left;
}
#p5 .ptn a{display: block; width: 200px;
    height: auto;}
#p5 .ptn a img{display: block; width: 200px;
    height: auto;}

#p6 {
    width: 100vw;
    height: auto;
    clear: both;
    background-color: #4e5051;
}

#p6 .wrap {
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: row;
    clear: both;
    margin-bottom: 50px;
}

#p6 .left {
    width: 50%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#p6 .left .big {
    width: 100%;
    font-size: 50px;
    color: #fff;
    margin-top: 100px;
    line-height: 1.5em;
    text-align: left;
}

#p6 .left p {display: block;
    width: 100%;
    height: auto;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    text-align: left;
}

#p6 .left p.call {
    margin-top: 30px;
}

#p6 .left p.email a {
    color: #fff;
}

#p6 .left .bold {
    color: #1b9dd8;
    font-weight: bold;
}

#p6 .right {
    width: 50%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#p6 .form {
    width: 100%;
}

#p6 .form:first-child {
    width: 100%;
    margin-top: 100px;
}

#p6 .form label {
    display: block;
    color: #fff;
    position: relative;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
    margin-left: 15px;
}

#p6 .form label:before {
    content: "※";
    display: block;
    clear: both;
    position: absolute;
    top: 0px;
    left: -15px;
    color: #e52028;
    
}

#p6 .form_sell {
    width: 700px;
    height: 40px;
}

#p6 .form_sell #choise {
    width: 700px;
    height: 40px;
}

#p6 .form_sell #choise option {
    width: 700px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-indent: 20px;
}

#p6 input {
    width: 700px;
    height: 40px;
}

#p6 .tell_box{margin-left: -327px;}
#p6 input.tell {
    width: 100px;
    height: 40px;
    margin-right: 5px;
    position: relative;
    margin-left: 5px;
}


#p6 .line {
    color: #fff;
}

#p6 .ck {
    width: 700px;
    height: 40px;
}

#p6 .ck label {
    display: block;
    width: 700px;
    height: 40px;
    position: relative;
}

#p6 .ck span {
    display: block;
    color: #fff;
    margin-top: 10px;
    text-align: left;
    margin-left: 50px;
    font-size: 14px;
}

#p6 #ck {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 10px;
}

#p6 .text_full {
    width: 700px;
    height: 40px;
    border: 1px solid #fff;
    margin-left: 5px;
}

#p6 .text_full a {
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    transition: 0.5s;
}

#p6 .text_full a:hover {
    background-color: #fff;
    color: #333;
}

.ft {
    width: 100vw;
    height: 400px;
    clear: both;
    background-color: #2c2d2e;
    display: flex;
    flex-wrap: wrap;
}

.ft_top {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.ft_top .ft_logo{display: block;
    width: 188px;
    height: 23px;
    float: left;
    overflow: hidden;
    background-image: url(data/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-top: 10px;
    margin-left: 30px;}
.ft_top .right_box {
    width: 50%;
}

.ft_top .right_box .ft_menu {
    width: 550px;
}

.ft_top .right_box .ft_menu li {
    width: 110px;
    float: left;
}

.ft_top .right_box .ft_menu li a {
    color: #fff;
    font-size: 12px;
}

.ft_top .right_box .ft_menu li a.dp1 {
    font-size: 14px;
    line-height: 25px;
}

.center_box {
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #4e5051;
}

.center_box p {
    color: #fff;
    font-size: 13px;
    line-height: 30px;
}

.bottom_box {
    width: 100%;
    margin-top: 20px;
}

.bottom_box p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
}

.bottom_box a {
    color: #1b9dd8;
    font-size: 13px;
}