@charset "UTF-8";



        .content{clear: both; margin: 0 auto; padding-top: 10em; position:relative; 
        background-position:center center; background-repeat: no-repeat; background-size:100% 100%; color:#fff; width:100vw; height:100vh; overflow:hidden;}
        .content:after{ content:""; display: block; clear: both;}
        .content div{float: left;}
        .content .left{width: 30%; height: auto; margin-left: 10em;}
        .content .left img{display: block; width: 100%; height: auto;}
        .content .rihgt{ width: 40%; height: auto; padding: 1.5em; margin-top: 10em; border: 1px solid #fff; color: #fff; position: relative;}
        .content .rihgt .subtitle{margin-bottom: 1em;}
        .content .rihgt .more{display: block; width: 50px; height: 50px; background-color: #fff; color: darkblue; position: absolute; z-index: 99; bottom: -0.5em; right: -0.5em; text-align: center; line-height: 50px;font-size: 50px; font-weight: bold;}
.content .rihgt .more:hover{background-color: coral; color: #fff; transition: 1s;}
.content .rihgt .title{font-size: 45px}  
.content .rihgt .subtitle{font-size: 25px}  
.content .rihgt .com{font-size: 20px; line-height:35px;} 

#p2{padding-top: 0;}        
.pit{clear: both; width: 82%; height: 300px; margin: 0 auto;  padding-bottom: 6em; }
        .pit .pit_tit {clear: both; width: 100%; height: 20px; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #fff; color: #fff; }
        .list{width: 1200px;height: 50%; margin: 80px auto;}
        .list li{width: 300px; height: 200px; float: left;margin: 0 auto;}
        .list li a{display: block; width: 280px; padding: 10px; height: 180px; line-height: 90px; text-align: center;  position: relative;}
        .list li a img{display: block; width: 280px; height: 180px; position: absolute; z-index: 99; top: 10;left: 10;opacity: 0.3s;}
        .list li:hover a img{opacity: 0; transition: 2s;}
        