body,
html {
    font-family: 'kft';
    background: #f7f5d1;
    position: relative; clear: both; 
}

.full {
    width: 100vw;
    height: 100vh;
    background-color: #f7f5d1;
}

.hd {
    width: 1280px;
    margin: 0 auto;
}

.hd:after {
    content: '';
    display: block;
    clear: both;
}

.it {
    float: left;
    margin-top: 30px;
}

.logo {
    display: block;
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../data/logo.png);
    z-index: 9999;
}

#ck1 {
    display: none;
}

#ck1:checked ~ #hd {
    right: 0;
}

.lst_btn {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 18%;
    z-index: 99;
    margin-left: -30px;
}

.line_box {
    position: relative;
    width: 60px;
    height: 60px;
}

.lst_btn span {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #41a296;
    position: absolute;
    left: 16px;
    transition: 0.4s;
}

.lst_btn span#l1 {
    top: 18px;
}

.lst_btn span#l2 {
    top: 35px;
}

.lst_btn span#l3 {
    bottom: 5px;
}

#ck1:checked ~ .lst_btn {
    border-color: #41a296;
}

#ck1:checked ~ .lst_btn span {
    background: #41a296;
}

#ck1:checked ~ .lst_btn span#l1 {
    transform: rotate(45deg);
    top: 29px;
}

#ck1:checked ~ .lst_btn span#l2 {
    opacity: 0;
}

#ck1:checked ~ .lst_btn span#l3 {
    transform: rotate(-45deg);
    bottom: 28px;
}

.open {
    width: 500px;
    height: 580px;
    background-color: rgba(255,255,255,0.4);
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -250px;
    border-radius: 100px 0px 100px 0px;
    z-index: 999;
}

.open ul {
    width: 100%;
    height: 100vh;
}

.open ul li {
    width: 100%;
    line-height: 150px;
}

.open ul li a {
    display: block;
    text-align: center;
    font-size: 60px;
    color: #104155;
}

.open ul li:hover a {
    color: green;
}