@charset "UTF-8";
/*메인 공통*/
.page_wrap h2.page_title {
  padding: 20px;
  font-size: 28px;
}
.page .page_wrap button:hover {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes prevbtn_any {
  0% {
    bottom: 55px;
  }
  100% {
    bottom: 40px;
  }
}
@keyframes nextbtn_any {
  0% {
    bottom: 25px;
  }
  100% {
    bottom: 40px;
  }
}
/*페이지1*/
#page1 .page_wrap ul.slide {
  width: 600%;
  height: 100vh;
}
#page1 .page_wrap ul.slide li {
  width: 1200px;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
}
#page1 .page_wrap ul.slide li.it1 {
  background-image: url(../data/it1.jpg);
}
/*페이지2*/
#page2 .par_btn {
  background-color: rgba(255, 255, 255, 0.3);
}
#page2 .page_wrap {
  background-color: #4b7bd4;
  color: #fff;
}
#t_com {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
#t_com h3 {
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
}
.single-chart {
  width: 25%;
  float: left;
  justify-content: space-around;
  position: relative;
}

.circular-chart {
  display: block;
  margin: 10px 15px;
  max-width: 100%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  animation: progress 8s ease-out forwards;
}

.tit {
  color: #fff;
  text-align: center;
  font-size: 25px;
}
.svgtit {
  color: #fff;
  text-align: center;
  font-size: 30px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 42%;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart .circle {
  stroke: #fff;
}

/*페이지3*/
#page3 .page_wrap ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
#page3 .page_wrap ul li {
  position: relative;
  width: 380px;
  height: 250px;
  background-color: rgba(75, 123, 212, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  transition: 0.5s;
}
#page3 .page_wrap ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#page3 .page_wrap ul li:hover a:after {
  color: #fff;
  z-index: -99;
}
#page3 .page_wrap ul li:nth-child(1) a:after {
  content: "사이언스디자인  [반응형]";
}
#page3 .page_wrap ul li:nth-child(2) a:after {
  content: "델타인덱스  [반응형]";
}
#page3 .page_wrap ul li:nth-child(3) a:after {
  content: "이니스프리  [pc]";
}
#page3 .page_wrap ul li:nth-child(4) a:after {
  content: "휠라  [pc]";
}
#page3 .page_wrap ul li:nth-child(5) a:after {
  content: "청년떡집  [mobail]";
}
#page3 .page_wrap ul li:nth-child(6) a:after {
  content: "포트폴리오1.0  [pc]";
}
#page3 .page_wrap ul li a {
  display: block;
  color: #4b7bd4;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
#page3 .page_wrap ul li a:after {
  content: "";
  display: block;
  clear: both;
  font-size: 18px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 20px;
}
#page3 .page_wrap ul li:nth-child(1) a {
  background-image: url(../data/work_sdg.png);
}
#page3 .page_wrap ul li:nth-child(2) a {
  background-image: url(../data/work_deltaindex.png);
}
#page3 .page_wrap ul li:nth-child(3) a {
  background-image: url(../data/work_innisfree.png);
}
#page3 .page_wrap ul li:nth-child(4) a {
  background-image: url(../data/work_fila.png);
}
#page3 .page_wrap ul li:nth-child(5) a {
  background-image: url(../data/work_chung.png);
}
#page3 .page_wrap ul li:nth-child(6) a {
  background-image: url(../data/work_portfolio1.png);
}
#page3 .page_wrap ul li:nth-child(1):hover a {
  background-image: url(../data/work_sdg_h.png);
}
#page3 .page_wrap ul li:nth-child(2):hover a {
  background-image: url(../data/work_deltaindex_h.png);
}
#page3 .page_wrap ul li:nth-child(3):hover a {
  background-image: url(../data/work_innisfree_h.png);
}
#page3 .page_wrap ul li:nth-child(4):hover a {
  background-image: url(../data/work_fila_h.png);
}
#page3 .page_wrap ul li:nth-child(5):hover a {
  background-image: url(../data/work_chung_h.png);
}
#page3 .page_wrap ul li:nth-child(6):hover a {
  background-image: url(../data/work_portfolio1_h.png);
}
/*페이지4*/
#page4 .page_wrap {
  background-color: rgba(18, 64, 150, 0.3);
}
#page4 .page_wrap .it {
  float: left;
  position: relative;
}
#page4 .page_wrap .it .item_w {
  width: 479px;
  height: 490px;
  margin: 70px auto;
  position: relative;
}
#page4 .page_wrap .it .item_w .img {
  width: 380px;
  height: 276px;
  position: absolute;
  z-index: 55;
  left: 0px;
  top: -50px;
  background-position: center;
  background-size: contain;
}

#page4 .page_wrap .it .item_w .box {
  width: 370px;
  height: 430px;
  margin: 0 auto;
  background-color: #4b7bd4;
  position: relative;
  margin-top: 50px;
}
#page4 .page_wrap .it .item_w .box:after {
  content: "";
  display: block;
  clear: both;
  width: 390px;
  height: 450px;
  border: 1px solid #fff;
  position: absolute;
  top: -10px;
  left: -10px;
}
#page4 .page_wrap .it .item_w .text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 100px;
  right: 0px;
  line-height: 1.5em;
}
#page4 .page_wrap .it .item_w .text p {
  color: #fff;
  font-size: 15px;
}
#page4 .page_wrap .left {
  width: 50%;
  height: 80%;
}
#page4 .page_wrap .left .item_w .img {
  background-image: url(../data/planner_service.jpg);
}
#page4 .page_wrap .right {
  width: 50%;
  height: 80%;
}
#page4 .page_wrap .right .item_w {
  margin: 0 auto;
  margin-top: 140px;
}
#page4 .page_wrap .right .item_w .img {
  background-image: url(../data/planner_seo.jpg);
}
/*페이지5*/
#page5 .page_wrap {
  height: 75%;
}
#page5 .page_wrap .num {
  width: 900px;
  height: 250px;
  margin: 0 auto;
  background-color: #4b7bd4;
  color: #fff;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -450px;
}
#page5 .page_wrap .num:before {
  content: "";
  display: block;
  clear: both;
  width: 820px;
  height: 170px;
  border: 3px solid #fff;
  position: absolute;
}
/*페이지이동 버튼*/
.par_btn {
  display: block;
  position: absolute;
  bottom: 40px;
  z-index: 100;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(75, 123, 212, 0.2);
  border-radius: 50%;
}

.next_btn {
  right: 47%;
}

.prev_btn {
  left: 47%;
}
.next_btn:hover {
  animation-name: nextbtn_any;
}
.prev_btn:hover {
  animation-name: prevbtn_any;
}
#page1 > button:hover {
  animation-name: nextbtn_any;
}
